* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: antiquewhite;
  height: 100vh;
  position: relative;
}

.div-collapse {
  position: absolute;
  width: 500px;
  bottom: 0;
  right: 30%;
  /* bottom: 50%; */
}